
<div *ngIf="userinfo">
    <h2><span jhiTranslate="testApp.userinfo.detail.title">Userinfo</span> {{userinfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.userinfo.loginid">Loginid</span></dt>
        <dd>
            <span>{{userinfo.loginid}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.userinfo.password">Password</span></dt>
        <dd>
            <span>{{userinfo.password}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.userinfo.name">Name</span></dt>
        <dd>
            <span>{{userinfo.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'userinfo/'+ userinfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
